body {
  background-color: #FFEFE5;
  color: #0C485E;
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
}

.landing {
   padding-bottom: 150px;
}

.tranparent {
  background-color: transparent;
}

.nav-link {
  font-size: 14px;
  color: #0C485E !important;
  font-family: 'Nunito', sans-serif;
}

.nav-item {
  margin-left: 14px;
  margin-right: 14px;
}

/* Shared styles */
.landing-text-div{
  padding-top: 127px;
  padding-bottom: 127px;
}
.landing-buttons {
  max-width: 350px;
  margin: auto;
}



h3{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

.table > tbody > tr > td{
  border-color: #0C485E;
  font-size: 18px;
}
.table > thead > tr > th{
  border-color: transparent;
  font-size: 18px;
}
.table{
  text-align: left;
}

.landing-content {
  margin-top: 150px;
}

.landing-content h1 {
  font-weight: 800;
  font-size: 48px;
}

.landing-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 300;
}

.landing-content p {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 24px;
}

.dpd-btn {
  border-radius: 19px;
  font-size: 14px;
  padding: .375rem 2rem;
}

.dark-btn {
  background-color: #0C485E;
  color: #FFEFE5;
}

.trans-btn {
  background-color: transparent;
  color: #0C485E;
  border-color: #0C485E;
}

/* About */
.about{
  /* padding: 10px 190px; */
}

.about-row{
   margin-bottom: 100px;
}
.about h2{
   font-size: 36px;
   font-weight: 800;
   margin-bottom: 20px;
}

.about p{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.teaching p{
  margin: auto;
  width: 650px;
  margin-bottom: 50px;
}

.prof-images{
     margin: auto;
     width: 600px;
     margin-bottom: 50px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  max-width: 100%;
  margin: auto 10%;

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .section{
    max-width: 100%;
    margin: auto 10%;

  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

